@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding:0;
}
.container{
    display: flex;
}
.sidebar{
    background-color: aquamarine;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.3s ease-in-out;
    position: absolute;
}
.sidebarGo {
    transform: translate(-233px, 0px);
    position: absolute;
}
.sidebar nav{
    padding: 24px;
}
.sidebar nav ul li{
    list-style: none;
    font-size: 18px;
    padding: 30px 0;
}
.sidebar nav ul li a{
   text-decoration: none;
   color: black;
}
.hamburger{
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;
}
.cross{
    margin-left: 91px;
}
.main{
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    background-color: aqua;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}
/* For Skills */
.Skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:53px 35px 4rem;
    column-gap: 10px;
    margin-top: 2vw;
    
}
.Skills h1{
    text-align: center;
    grid-column: 1/5;
    height: fit-content;
}
.Skills h3{
    grid-column: 1/5;
    height: fit-content;
}
.skillitem h2{
    font-size: 1.2rem;
    padding: 0.5vw 3.5vw;
}
.skillitem{
    width: fit-content;
    height: fit-content;
    background-color: aquamarine;
    border-radius: 10px;
}
.hundred{
    width:17vw;
    background-color: rgb(0, 183, 255);
    border: 2px solid black;
    margin-left: 1vw;
    border-radius: 10px;
}
.fifty{
    width:200px;
    background-color: rgb(73, 204, 255);
    border: 2px solid black;
    margin-left: 1vw;
    border-radius: 10px;
}
.seventyFive{
    width:12vw;
    background-color: rgb(33, 190, 252);
    border: 2px solid black;
    margin-left: 1vw;
    border-radius: 10px;
}
/* For Achivements */
.accomplishment h1{
    text-align: center;
    margin: 20px 0px;
}
.accomplishment{
    width: 50vw;
}
.accomplishment li{
    padding-bottom: 20px;
}
.accomplishment li a{
    text-decoration: none;
    color: rgb(0, 155, 160);
}
@media only screen and (max-width: 700px) {
    .accomplishment{
        width: 23rem;
    }
}
  