
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding:0;
}
.sidebar{
    background-color: aquamarine;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}
.sidebarGo {
    transform: translate(-233px, 0px);
    position: absolute;
}
.sidebar nav{
    padding: 24px;
}
.sidebar nav ul li{
    list-style: none;
    font-size: 18px;
    padding: 30px 0;
}
.sidebar nav ul li a{
   text-decoration: none;
   color: black;
}
.hamburger{
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;
}
.cross{
    margin-left: 60px;
}
.main{
    background-color: hsl(180, 100%, 50%);
    width: 100vw;
}
.container{
    display: flex;
}
.info-container{
    display: flex;
    flex-wrap: wrap;
    background-color:aquamarine;
    height: 85vh;
    width: 80vw;
    margin : 50px auto;
    justify-content: space-around;
    border-radius: 20px;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}
.image img{
    width: 40vh;
}
.hello{
    font-size: 24px
}
.name{
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;

}
.about{
    font-size: 15px
}
.buttons{
    margin-top: 20px;
}
.buttons button{
    padding: 7px 10px;
    color: white;
    border-radius: 15px;
    background-color: rgb(24, 184, 184);
    font-size: 15px;
    font-weight: bold;
    border: none;

}
.buttons button:hover{
    background-color: white;
    color:  rgb(24, 184, 184);
    font-size: 13px;
}
@media screen and (max-width: 1000px) {
    /* * {
      background-color: lightgreen;
    } */
    .sidebar{
        transform: translate(-233px, 0px);
        position: absolute;
    }
}
